 <div >
    <!-- <table>
    </br>
    </br>
    </br>
    <tr>
     <th> hello</th><th><%#= current_user.fist_name %><%#= current_user.last_name %><th>
   </tr>

     <tr>
     <th>Your Email ID</th><th><%#= current_user.email %></th>
    </tr>
</table> -->
</br></br></br>
<table  border="2">
  <tr>
    <th>Job title</th>
    <th>Company name</th>
    <th>Qulification</th>
    <th>Experince</th>
    <th>Summary</th>
    <th>No of post</th>
    <th>Contact number</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%= job.job_title %></td>
    <td><%= job.company_name %></td>
    <td><%= job.qulification %></td>
    <td><%= job.experince %></td>
    <td><%= job.summary %></td>
    <td><%= job.no_of_post %></td>
    <td><%= job.contact_number %></td>
    <td><%= job.email %></td>
    <td><%= link_to 'Show', job %></td>
    <td><%= link_to 'Edit', edit_job_path(job) %></td>
    <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<br />
# <%#= link_to 'post job', new_job_path%>
# <%#= form_tag search_jobs_path, :method => :get do %>
# <p>
#   <%#= text_field_tag :query, params[:query] %> <%#= submit_tag "Search!" %>
# </p>
# <%# end %>
