<%= render 'layouts/header'%>
<div align="center">
   <input type="text" name="lname" style="width:400px; " placeholder="php,indore" >
  <input type="submit" value="Submit">
  <br>
  <br>
  <table>
    <tr>
     <th>Job title</th>
     <th></th>
     <th></th>
     <th>Company name</th>
       <th></th>
       <th></th>
     <th>Qulification</th>
       <th></th>
       <th></th>
   </tr>
<% @job.each do |job| %>
    <tr>
    <td><%= job.job_title %></td>
    <td></td>
    <td></td>
    <td><%= job.company_name %></td>
    <td></td>
    <td></td>
    <td><%= job.qulification %></td>
    <td></td>
    <td></td>
    <td><%= link_to 'Apply',user_session_path %></td> 
     </tr>
    <% end %>
  </table>
<div>
